<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ExerciseId</key>
		<string>1</string>
		<key>Name</key>
		<string>Flexión acostado - MS</string>
		<key>Description</key>
		<string>Flexión acostado máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>2</string>
		<key>Name</key>
		<string>Glúteos - MS</string>
		<key>Description</key>
		<string>Glúteos usando máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>3</string>
		<key>Name</key>
		<string>Prensa Horizontal - MS</string>
		<key>Description</key>
		<string>Prensa Horizontal máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_7132</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>4</string>
		<key>Name</key>
		<string>Extensiones - MS</string>
		<key>Description</key>
		<string>Extensiones máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_0536</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>5</string>
		<key>Name</key>
		<string>Abductor - MS</string>
		<key>Description</key>
		<string>Abductor máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>6</string>
		<key>Name</key>
		<string>Flexión sentado - MS</string>
		<key>Description</key>
		<string>Flexión sentado máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>7</string>
		<key>Name</key>
		<string>Pantorrilla parado - MS</string>
		<key>Description</key>
		<string>Pantorrilla parado máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>8</string>
		<key>Name</key>
		<string>Extensiones - AL</string>
		<key>Description</key>
		<string>Extensiones aparato libre</string>
		<key>ImageName</key>
		<string>IMG_0531</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>9</string>
		<key>Name</key>
		<string>Flexión 1 pierna - AL</string>
		<key>Description</key>
		<string>Flexión 1 pierna aparato libre</string>
		<key>ImageName</key>
		<string>IMG_0530</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>10</string>
		<key>Name</key>
		<string>Máquina smith - AL</string>
		<key>Description</key>
		<string>Máquina smith aparato libre</string>
		<key>ImageName</key>
		<string>IMG_7125</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>11</string>
		<key>Name</key>
		<string>Glúteo - AL</string>
		<key>Description</key>
		<string>Glúteo aparato libre</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>12</string>
		<key>Name</key>
		<string>Jaula/Sentadilla - AL</string>
		<key>Description</key>
		<string>Jaula/Sentadilla aparato libre</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>13</string>
		<key>Name</key>
		<string>Prensa inclinada - AL</string>
		<key>Description</key>
		<string>Prensa inclinada aparato libre</string>
		<key>ImageName</key>
		<string>IMG_7131</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>14</string>
		<key>Name</key>
		<string>Curl Predicador - MS</string>
		<key>Description</key>
		<string>Curl predicador máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>15</string>
		<key>Name</key>
		<string>Curl alto - CO</string>
		<key>Description</key>
		<string>Curl alto Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_7010</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>16</string>
		<key>Name</key>
		<string>Curl alternado - CO</string>
		<key>Description</key>
		<string>Curl alternado - Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>17</string>
		<key>Name</key>
		<string>Curl una mano - CO</string>
		<key>Description</key>
		<string>Curl una mano Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>18</string>
		<key>Name</key>
		<string>Curl - CO</string>
		<key>Description</key>
		<string>Curl Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>19</string>
		<key>Name</key>
		<string>Curl predicador - AL</string>
		<key>Description</key>
		<string>Curl predicador aparato libre</string>
		<key>ImageName</key>
		<string>IMG_0525</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>20</string>
		<key>Name</key>
		<string>Curl - TS</string>
		<key>Description</key>
		<string>Curl torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>21</string>
		<key>Name</key>
		<string>Curl una mano - TS</string>
		<key>Description</key>
		<string>Curl una mano torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>22</string>
		<key>Name</key>
		<string>Curl alto - TS</string>
		<key>Description</key>
		<string>Curl alto torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_7010</string>
		<key>MuscleGroup</key>
		<string>Bíceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>23</string>
		<key>Name</key>
		<string>Extensiones sentado - MS</string>
		<key>Description</key>
		<string>Extensiones sentado máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>24</string>
		<key>Name</key>
		<string>Empujones - CO</string>
		<key>Description</key>
		<string>Empujones Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_6360</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>25</string>
		<key>Name</key>
		<string>Extensiones sobre cabeza - CO</string>
		<key>Description</key>
		<string>Extensiones sobre cabeza Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_0517</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>26</string>
		<key>Name</key>
		<string>Empujones invertidos - CO</string>
		<key>Description</key>
		<string>Extensiones invertidos Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>27</string>
		<key>Name</key>
		<string>Empujones una mano - CO</string>
		<key>Description</key>
		<string>Empujones una mano Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_0511</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>28</string>
		<key>Name</key>
		<string>Jalón lateral - CO</string>
		<key>Description</key>
		<string>Jalón lateral Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_0514</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>29</string>
		<key>Name</key>
		<string>Jalón interno - CO</string>
		<key>Description</key>
		<string>Jalón interno Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_0515</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>30</string>
		<key>Name</key>
		<string>Jalón detrás de cabeza - CO</string>
		<key>Description</key>
		<string>Jalón detrás de cabeza - Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>31</string>
		<key>Name</key>
		<string>Empujones - TS</string>
		<key>Description</key>
		<string>Empujones torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0509</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>32</string>
		<key>Name</key>
		<string>Empujones una mano - TS</string>
		<key>Description</key>
		<string>Empujones una mano torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0511</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>33</string>
		<key>Name</key>
		<string>Empujón lateral - TS</string>
		<key>Description</key>
		<string>Empujón lateral torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0514</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>34</string>
		<key>Name</key>
		<string>Empujón interno - TS</string>
		<key>Description</key>
		<string>Empujón interno torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0515</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>35</string>
		<key>Name</key>
		<string>Empujones sobre cabeza - TS</string>
		<key>Description</key>
		<string>Empujones sobre cabeza torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0517</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>36</string>
		<key>Name</key>
		<string>Empujón sobre cabeza 1 mano - TS</string>
		<key>Description</key>
		<string>Empujones sobre cabeza una mano torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>37</string>
		<key>Name</key>
		<string>Patadas - TS</string>
		<key>Description</key>
		<string>Patadas torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Tríceps</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>38</string>
		<key>Name</key>
		<string>Remo sentado - MS</string>
		<key>Description</key>
		<string>Remo sentado máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_6368</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>39</string>
		<key>Name</key>
		<string>Jalón frontal - MS</string>
		<key>Description</key>
		<string>Jalón frontal máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_0519</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>40</string>
		<key>Name</key>
		<string>Dominadas - CO</string>
		<key>Description</key>
		<string>Dominadas Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>41</string>
		<key>Name</key>
		<string>Jalón frontal - CO</string>
		<key>Description</key>
		<string>Jalón frontal Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_0519</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>42</string>
		<key>Name</key>
		<string>Remo sentado - CO</string>
		<key>Description</key>
		<string>Remo sentado Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_6368</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>43</string>
		<key>Name</key>
		<string>Remo sentado - AL</string>
		<key>Description</key>
		<string>Remo Sentado aparato libre</string>
		<key>ImageName</key>
		<string>IMG_6368</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>44</string>
		<key>Name</key>
		<string>Jalón frontal - AL</string>
		<key>Description</key>
		<string>Jalón frontal aparato libre</string>
		<key>ImageName</key>
		<string>IMG_0528</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>45</string>
		<key>Name</key>
		<string>Remo inclinado - TS</string>
		<key>Description</key>
		<string>Remo inclinado torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_7029</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>46</string>
		<key>Name</key>
		<string>Remo a una mano - TS</string>
		<key>Description</key>
		<string>Remo a una mano torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0507</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>47</string>
		<key>Name</key>
		<string>Jalón recto - TS</string>
		<key>Description</key>
		<string>Jalón recto torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0500</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>48</string>
		<key>Name</key>
		<string>Press hombro - MS</string>
		<key>Description</key>
		<string>Press hombro máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_6377</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>49</string>
		<key>Name</key>
		<string>Press hombro - AL</string>
		<key>Description</key>
		<string>Press hombro aparato libre</string>
		<key>ImageName</key>
		<string>IMG_6375</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>50</string>
		<key>Name</key>
		<string>Lateral Rise - AL</string>
		<key>Description</key>
		<string>Lateral Rise aparato libre</string>
		<key>ImageName</key>
		<string>IMG_0540</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>51</string>
		<key>Name</key>
		<string>Remo parado - TS</string>
		<key>Description</key>
		<string>Remo parado torre selectiva</string>
		<key>ImageName</key>
		<string>IMG_0502</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>52</string>
		<key>Name</key>
		<string>Lateral una mano - TS</string>
		<key>Description</key>
		<string>Lateral una mano torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>53</string>
		<key>Name</key>
		<string>Elevación frontal 1 mano - TS</string>
		<key>Description</key>
		<string>Elevación frontal 1 mano torre selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>54</string>
		<key>Name</key>
		<string>Press pecho - MS</string>
		<key>Description</key>
		<string>Press pecho máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_6388</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>55</string>
		<key>Name</key>
		<string>Peck Deck - MS</string>
		<key>Description</key>
		<string>Peck Deck máquina selectiva</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>56</string>
		<key>Name</key>
		<string>Aperturas - CO</string>
		<key>Description</key>
		<string>Aperturas Cross-Over</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>57</string>
		<key>Name</key>
		<string>Bench press - AL</string>
		<key>Description</key>
		<string>Bench press aparato libre</string>
		<key>ImageName</key>
		<string>IMG_6906</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>58</string>
		<key>Name</key>
		<string>Bench press inclinado - AL</string>
		<key>Description</key>
		<string>Bench press inclinado aparato libre</string>
		<key>ImageName</key>
		<string>IMG_6868</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>59</string>
		<key>Name</key>
		<string>Bench press declinado - AL</string>
		<key>Description</key>
		<string>Bench press declinado aparato libre</string>
		<key>ImageName</key>
		<string>img1</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>60</string>
		<key>Name</key>
		<string>Máquina inclinado - AL</string>
		<key>Description</key>
		<string>Máquina inclinado aparato libre</string>
		<key>ImageName</key>
		<string>IMG_6382</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>61</string>
		<key>Name</key>
		<string>Crunchs - MS</string>
		<key>Description</key>
		<string>Crunchs máquina selectiva</string>
		<key>ImageName</key>
		<string>IMG_6356</string>
		<key>MuscleGroup</key>
		<string>Abdomen</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>62</string>
		<key>Name</key>
		<string>Máquina de apoyo - AL</string>
		<key>Description</key>
		<string>Máquina de apoyo aparato libre </string>
		<key>ImageName</key>
		<string>IMG_6356</string>
		<key>MuscleGroup</key>
		<string>Abdomen</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>63</string>
		<key>Name</key>
		<string>Curl Concentrado - CO</string>
		<key>Description</key>
		<string>Curl concentrado Cross-Over</string>
		<key>ImageName</key>
		<string>IMG_7034</string>
		<key>MuscleGroup</key>
		<string>Bícep</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>64</string>
		<key>Name</key>
		<string>Bench Press inclinado con Mancuerna - AL</string>
		<key>Description</key>
		<string>Bench Press inclinado Con mancuerna</string>
		<key>ImageName</key>
		<string>IMG_6873</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>65</string>
		<key>Name</key>
		<string>Hiperextensiones</string>
		<key>Description</key>
		<string>Hiperextensiones</string>
		<key>ImageName</key>
		<string>IMG_6354</string>
		<key>MuscleGroup</key>
		<string>Espalda</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>66</string>
		<key>Name</key>
		<string>Jalón cerrado</string>
		<key>Description</key>
		<string>Jalón Cerrado</string>
		<key>ImageName</key>
		<string>IMG_6914</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>67</string>
		<key>Name</key>
		<string>Sentadilla</string>
		<key>Description</key>
		<string>Sentadilla</string>
		<key>ImageName</key>
		<string>IMG_6918</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>68</string>
		<key>Name</key>
		<string>Sentadilla con discos</string>
		<key>Description</key>
		<string>Sentadilla con discos</string>
		<key>ImageName</key>
		<string>IMG_7121</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>69</string>
		<key>Name</key>
		<string>Elevaciones</string>
		<key>Description</key>
		<string>Elevaciones</string>
		<key>ImageName</key>
		<string>IMG_7105</string>
		<key>MuscleGroup</key>
		<string>Pecho</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>70</string>
		<key>Name</key>
		<string>Desplante con mancuerna</string>
		<key>Description</key>
		<string>Desplante con mancuerna</string>
		<key>ImageName</key>
		<string>IMG_6924</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>71</string>
		<key>Name</key>
		<string>Peso muerto</string>
		<key>Description</key>
		<string>Peso muerto</string>
		<key>ImageName</key>
		<string>IMG_6940</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>72</string>
		<key>Name</key>
		<string>Sentadilla con mancuerna</string>
		<key>Description</key>
		<string>Sentadilla con mancuerna</string>
		<key>ImageName</key>
		<string>IMG_6998</string>
		<key>MuscleGroup</key>
		<string>Pierna</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>73</string>
		<key>Name</key>
		<string>Lateral dos manos</string>
		<key>Description</key>
		<string>Lateral dos manos</string>
		<key>ImageName</key>
		<string>IMG_6946</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>74</string>
		<key>Name</key>
		<string>Lateral inclinado</string>
		<key>Description</key>
		<string>Lateral inclinado</string>
		<key>ImageName</key>
		<string>IMG_6973</string>
		<key>MuscleGroup</key>
		<string>Hombro</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>75</string>
		<key>Name</key>
		<string>Rompe cráneos</string>
		<key>Description</key>
		<string>Rompe cráneos</string>
		<key>ImageName</key>
		<string>IMG_7088</string>
		<key>MuscleGroup</key>
		<string>Trícep</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>76</string>
		<key>Name</key>
		<string>Copa de mancuerna</string>
		<key>Description</key>
		<string>Copa de mancuerna</string>
		<key>ImageName</key>
		<string>IMG_7020</string>
		<key>MuscleGroup</key>
		<string>Trícep</string>
	</dict>
	<dict>
		<key>ExerciseId</key>
		<string>77</string>
		<key>Name</key>
		<string>Patadas con mancuerna</string>
		<key>Description</key>
		<string>Patadas con mancuerna</string>
		<key>ImageName</key>
		<string>IMG_7041</string>
		<key>MuscleGroup</key>
		<string>Trícep</string>
	</dict>
</array>
</plist>
